* {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #cf9bc5;
  background-image: linear-gradient(to bottom right, #f2c2c5, #ae80c7);
}

a {
  color: #ae80c7;
}

a:hover{
  color: #CF9BC5;
}

header {
  height: 7vh;
}

#navbar-web {
  height: 7vh;
  box-shadow: -2px 2px 10px rgba(97, 46, 65, 0.2);
}

#title-web {
  color: #2F2E41;
  font-size: 1.8em;
}

main {
  display: flex;
  min-height: 93vh;
  justify-content: center;
}

#title-mobile {
  color: #2F2E41;
  display: none;
}

main img {
  width: 20vw;
}

#img1 {
  align-self: baseline;
  margin-top: 15vh;
  margin-right: 40px;
}

#img2 {
  align-self: flex-end;
  margin-bottom: 15vh;
  margin-left: 40px;
}

#img3 {
  display: none;
}

.card {
  width: 45vw;
  height: 60vh;
  align-self: center;
  opacity: 0.9;
  z-index: 2;
}

.card-body {
  max-height: 55vh;
  overflow-y: auto;
  position: relative;
}

#btn-modal{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: -50px;
  background-color: #FFBA74;
  border-color: #FFBA74;
}

#btn-modal:hover{
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}

.new-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 5px;
}

.close2 {
  color: red;
  margin-left: 5px;
  display: flex;
  align-self: center;
  font-size: 1.6rem;
}

.edit, .close2 {
  border: none;
  background: none;
  outline: none;
  border-radius: 6px;
  transition-duration: 0.4s;
}

.edit:hover, .close2:hover {
  box-shadow: -2px 2px 10px rgb(242, 194, 197, 0.3);
}


.check {
  min-width: 16px;
  min-height: 16px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-self: center;
  opacity: 0.3;
}

.check:checked:after {
  background-color: #ae80c7;
  content: " ";
  background-image: url('./assets/check.svg');
  min-width: 19px;
  min-height: 19px;
  border-radius: 2px;
}

.check:checked + label {
  text-decoration: line-through;
  opacity: 0.3;
}

@media screen and (max-width: 1200px) {
  header {
    display: none;
  }

  main {
    min-height: 100vh;
  }

  #title-mobile {
    display: flex;
  }

  main img {
    width: 25vw;
  }

  #img1 {
    margin-right: -20px;
  }
  
  #img2 {
    margin-left: -20px;
  }

  .card {
    width: 40vw;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {
  #title-mobile {
    font-size: 1.8rem;
  }

  main img {
    width: 50vw;
  }

  #img1, #img2 {
    display: none;
  }
  
  #img3 {
    display: block;
    position: fixed;
    top: 5vh
  }

  .card {
    width: 80vw;
    height: 70vh;
    margin-top: 15vh;
  }

  .card-body {
    max-height: 55vh;
  }

  #btn-modal{
    width: 65px;
    height: 65px;
    margin-bottom: -45px;
  }
}
